/* @import url('https://fonts.googleapis.com/css2?family=Barrio&family=Titan+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body {
    width: 100%;
    background: linear-gradient(to right, black 50%, rgb(248, 138, 156) 50%);
}

ul {
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
}


li a:hover{
    font-size: 43px;
}

/* classes */

.col {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* ids */

#name {
    font-size: 55px;
    color: white
}